{% extends 'core/base.html' %}

{% load humanize %}

{% block title %} Welcome {% endblock %}

{% block content %}
<div class="p-6 bg-yellow-100 rounded-xl">
    <p class="text-2xl font-semibold">Stay Curious.</p>
    <p>Discover all kinds of things in this blog. I will change this later</p><br>
    <a href="{% url 'core:signup' %}" class="mt-6 px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Get Started</a>
</div>

<div class="mt-6 px-6 py-8 bg-gray-50">
    <div class="container flex justify-between mx-auto">
        <div class="w-full">
            <div class="flex items-center justify-between">
                <h2 class="text-xl font-bold text-gray-700 md:text-2xl">Latest articles</h2>
            </div>
            
                {% for article in articles %}
                    <div class="mt-3">
                        <div class="w-4/5 px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
                            <a href="{% url 'item:detail' article.id %}">
                                
                                    <h2 class="text-2xl font-semibold">{{ article.topic }}</h2>
                                    <p class="font-bold text-gray-700 hover:underline">Written by {{ article.author }}</p>
                                    <p class="mt-3">{{ article.content|safe|truncatewords:15 }}</p>
                                    <div class="flex items-center justify-between">
                                        <p class="font-light text-gray-600">{{ article.created_at|naturalday }} {{ article.get_readtime }} read</p>  
                                    </div>
                                                   
                            </a>
                        </div>
                    </div>
                {% endfor %}
            
        </div>
    </div>
</div>    

{% endblock %}

